.homeview {
  // text-align: center;
  max-width: 48em;
  margin: auto;
  display: block;
}

.helpbox {
  width:50%;
  padding: 1em;
  background-color: rgba(255, 231, 206, 0.73);
  margin: auto;
  opacity: 1;
  visibility: visible;
  box-sizing: border-box;
  transition: height 500ms 0ms, opacity 500ms 500ms;
}

.page1 p {
  max-width: 30rem;
  margin: auto;
  text-align: justify;
  margin-bottom: 2em;
}

.reference {
  text-align: center;
  font-size: 14px;
}

.next-button {
  float: right;
}

.prev-button {
  float: left;
}

img {
  display: block;
  margin: auto;
}
