.helpbox {
  width:50%;
  padding: 1em;
  background-color: rgba(255, 231, 206, 0.73);
  margin: auto;
  opacity: 1;
  visibility: visible;
  box-sizing: border-box;
  transition: height 500ms 0ms, opacity 500ms 500ms;

}

.infobox {
  padding-bottom: 3em;
}

.basket {
  // border: 1px solid black;
  margin-top: 5em;
  padding: 2em;
  padding-top: 1em;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
}

.real-basket {
  background-color: rgba(255, 231, 206, 0.73);
  min-height: 43em;
}

.confirmbutton {
  float: right;
}

.confirmHelp {
  float: right;
}

.helpbox.hide-helpbox{
  opacity: 0.0;
  height: 0px;
  padding: 0;
  transition: height 500ms 0ms, padding 500ms 0ms, opacity 500ms 0ms;

  p, li, button { // tweak for clickable buttons in next helpbox
    display: none;
  }
}

.fixed-alert-helper{
  width: 100%;
  margin-left: -3em;
  padding-left: 3em;
  padding-right: 3em;
  min-width: 1000px;
  max-width: 1400px;
  box-sizing: border-box;
  margin-top: -60px;
  position: fixed;
  z-index: 1000;

}

.alert {
  display: block;
  width: 100%;
  cursor: pointer;
}
