.wedgeblock {
  padding: 2px 0;
  text-align: left;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.wedgeblock-active {
  -webkit-box-shadow: 0px 0px 0px 5px #716457;
  -moz-box-shadow: 0px 0px 0px 5px #716457;
  box-shadow: 0px 0px 0px 5px #716457;
  transition-duration: 0.3s;
  margin: 10px 0;
}
