button {
  margin: 5px;
}

.infoblock{
  height: 8em;
  transition: height 500ms 0ms, padding 500ms 0ms;

}

.infoblock-hidden{
  opacity: 0;
  height: 0;
  transition: height 500ms 0ms, padding 500ms 0ms;
}
